#popup{
    flex:5;
}
.helpicon{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 40px;
   
}

.closeicon{
    right: 20;
    top: 16;
    margin-left: 80px;
}

.cardrow{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    
}


.title{
    display: flex;
    flex-direction: row;
    margin: 40px 10px 40px 10px;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: rgb(235, 233, 233);
}

.tagtext{
    padding: 20px 20px;
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(57, 137, 241);
}

