#flex{
    flex: 9;
}


.frag{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#charttext{
    margin-top: 50px;
    margin-left: 50%;
}

.chartsidetext{
    color: rgb(31, 143, 247);
    font-size: 16px !important;
}

.chartside{
    width: 170px;
    font-size: 30px;
    margin: 50px 10px 10px 0px;
    border: 1px solid whitesmoke;
}
.charttext{
    padding: 10px 10px;

    
}

.chartheight{
    width: 86%;
    margin-top: 50px !important;
    margin-left: 10px;
}
.text{
    margin-top: 50px;
    margin-right: 0px;
}


